@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.navs{
  height: 100%;
}

body{
  margin: 0px;
}

p{
  text-indent: 40px;
}

.logo{
  background-size: cover;
  width: 150px;
  height: 150px !important;
  border-radius: 50%;
}

.game_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}

h5{
  font-size: 18px;
}

aside{
  border-top: dotted 3px;
}

h2{
  margin-left: 10px;
}

.block{
  margin: 10px;
  width: calc(20% - 30);
}

footer{
  background-color: #0E1066;
  height: 175px;
  padding: 75px 10px 10px 10px;
  z-index: 999;
}

header{
  background-color: #7B7DCE;
  height: 175px;
  padding: 0px 0px 20px 5px;
  display: flex;
  z-index: 999;
}

.up{
  background: url("/images/up.png") no-repeat top left;
  position: fixed;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 2;
}

.pashalka{
  padding: 20px;
}

.conteiner{
  display: flex;
  min-height: 300px;
}

h4{
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.gradient{
  width: 150px;
  background: linear-gradient(to bottom, #7B7DCE 0%, #2B2D9D 50%, #0E1066 100%);
}

main{
  background-color: #2B2D9D;
  width: calc(100% - 300px);
  min-width: 310px;
  padding: 5px;
}

img{
  background-repeat: no-repeat;
  background-size: cover;
}

*{
  color: white;
  font-family: Bebas Neue;
  letter-spacing: 3px;
}

.snip1573 {
  background-color: #000;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 10px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.snip1573 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1573:before,
.snip1573:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #000000;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  content: '';
  opacity: 0.9;
  z-index: 1;
}

.snip1573:before {
  -webkit-transform: skew(45deg) translateX(-155%);
  transform: skew(45deg) translateX(-155%);
}

.snip1573:after {
  -webkit-transform: skew(45deg) translateX(155%);
  transform: skew(45deg) translateX(155%);
}

.snip1573 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.snip1573 figcaption {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
}

.snip1573 h3 {
  background-color: #000000;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
}

.snip1573 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.snip1573:hover > img,
.snip1573.hover > img {
  opacity: 0.5;
}

.snip1573:hover:before,
.snip1573.hover:before {
  -webkit-transform: skew(45deg) translateX(-55%);
  transform: skew(45deg) translateX(-55%);
}

.snip1573:hover:after,
.snip1573.hover:after {
  -webkit-transform: skew(45deg) translateX(55%);
  transform: skew(45deg) translateX(55%);
}

.snip1573:hover figcaption,
.snip1573.hover figcaption {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

a{
  text-decoration: none;
  box-sizing: border-box;
}

.floating-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  text-decoration: none;
  display: inline-block;
  min-width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

.floating-button:hover {
  background:#4560BD;
  box-shadow: 0 15px 20px #1560BD;
  color: white;
  transform: translateY(-7px);
}

@media (max-height: 600px){
  .up{
    display: none;
  }
}